[Desktop Entry]
Name=My script
Comment=Test hello world script
Exec=/home/pi/bulboard/SR_Board/run_bulboard.sh
X-GNOME-Autostart-enabled=true
Terminal=true
Type=Application
Name[en_US]=run_bulboard.desktop
