{% extends 'base.html' %}

{% block title %}{{'game of life'}}{% endblock %}

{% block gol_active_class %} active {% endblock %}

{% block body_block %}

    <div id="mycontainer">
        <div id="scrollable">
            <table id="matrix">
                {% for row in range(row_number) %}
                    <tr id="pixel_row_{{row}}">
                        {% for col in range(col_number) %}
                            <td>
                                <button id=pixel_{{row}}_{{col}} onclick="setPixelColor(this)">
                                    <span></span>
                                </button>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>


    <button type="button" onclick="sendPixelsStateToServer()">Submit</button>


{% endblock %}

{% block script_block %}

    function setPixelColor(pixel)
    {
        if(pixel.style.backgroundColor == 'black'){
            pixel.style.backgroundColor = 'white';
        }
        else{
            pixel.style.backgroundColor = 'black';
        }

    }

    function sendPixelsStateToServer(){
        console.log("in sendPixelsStateToServer");

        var pixelsDiv = document.getElementById("matrix");
        var numOfRows = pixelsDiv.rows.length;
        var outputArray = new Array(numOfRows);
        var outputStruct = {};

        for (var i=0; i < numOfRows; i++){
            var rowDiv = pixelsDiv.rows[i];
            var numOfPixelsInRow = rowDiv.cells.length;
            outputArray[i] = new Array(numOfPixelsInRow);

            for (var j=0; j < numOfPixelsInRow; j++){
                var pixel = rowDiv.cells[j];
                var pixelColor = pixel.children[0].style.backgroundColor;
                if (pixelColor == "black"){
                    outputArray[i][j] = 1;
                }
                else{
                    outputArray[i][j] = 0;
                }
            }

        }

        console.log(outputArray)
        outputStruct.outputArray = outputArray;
        $.ajax({
                url: 'set_game_of_life_initial_state',
                type: 'POST',
                data: JSON.stringify(outputStruct),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function(msg){}
        });

    }

{% endblock %}




